body {
    margin: 0;
}

.header {
    height: 500px;
    width: 100%;
    background-image: url("./img/bg.jpg");
    background-size: cover;
    text-align: center;

}

.header-wrapper {
    padding: 50px 200px 30px 200px;
}

.main {
    background-color: rgba(240, 204, 190, 0.363);
}

.main h2 {
    margin-top: 0;
    padding:20px 0px 5px 10px ;
    font-size: xx-large;
}

.content {
    padding: 0px 100px 0px 100px;
    height: 430px;
    margin-bottom: 70px;
    display: flex;
}

.icon {
    width: 50%;
    text-align: center;
}

.title {
    display: block;
}

.content img {
    height: 400px;
    width: 400px;
}
.explain {
    width: 50%;
}

@media (max-width:1000px) {
    .content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .icon img {
        width:50%;
    }

    .icon .explain {
        width: 100%;
    }

    
}
